
<div class="hero-unit" style="z-index: 999;position:fixed; width:500px; float:right;right:0;top:50px;">
  <div class="col-lg-12" >
    <ul ng-show="funnelCtrl.tabItems.length">
      <li ng-repeat="tabItem in funnelCtrl.tabItems"><h3 style="text-align:left">{{tabItem.text}}<span style="float:right">{{tabItem.cost}}</span></h3></li>
      <li id="total"><h3 style="text-align:left">Total:<span style="float:right">{{funnelCtrl.total}}</span></h3></li>
    </ul>

    <ul ng-show="!funnelCtrl.tabItems.length">
      <li><h3>No Items selected</h3></li>
    </ul>
  </div>
</div>

<div class="container">
    <h1 class="page-header">Features Funnelled:</h1>
  <div class="row">
    <div class="col-lg-12">
      <div style="display:inline-block; min-height:290px">
        <datepicker ng-model="startDate" datepicker-format="funnelCtrl.format" min-date="funnelCtrl.minDate" max-date="funnelCtrl.maxDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <label>Select a time slot</label>
      <ul>
        <li ng-repeat="availableTime in funnelCtrl.availableTimes" ng-click="funnelCtrl.selectTime(availableTime)"><input type="radio" name="theTime">
          <a href="#">{{availableTime.text}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">

      <div ng-show="funnelCtrl.allKids" class="">
        <label>Children</label>
        <input type="number" step="1" name="numberOfChildGuests" min="{{funnelCtrl.minKids}}"
        max="{{funnelCtrl.maxKids}}"
        title="There must be 1 adult to every 5 children" ng-model="funnelCtrl.numberOfChildGuests"
        step="1" ng-change="funnelCtrl.numberOfChildGuestsChanged($event)">
      </div>
      
      <label>Adults</label>
      <input type="number" step="1" min="{{funnelCtrl.minAdults}}" max="{{funnelCtrl.maxAdults}}" name="numberOfAdultGuests" ng-model="funnelCtrl.numberOfAdultGuests" ng-change="funnelCtrl.numberOfAdultGuestsChanged($event)">
      </div>
    </div>
  </div>
</div>



